<div class="flex items-center justify-between mb-6">
  <h2 class="font-bold text-xl">Cancel Order</h2>
</div>

<p class="mb-6 text-base">Are you sure you want to cancel this order? This action cannot be undone.</p>

<%= form_with url: order_cancellations_path(@order), method: :post do |form| %>
  <%= form.button "Cancel Order", class: "btn btn-error" %>
  </div>
<% end %>
